*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 31, 31);
}
#heading{
    color: aliceblue;
    font-family: "DM Serif Display", serif;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 5px;
    font-size: 3rem;
}
.clock{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 3.5rem;
    color: rgb(217, 34, 34);
    text-shadow: 3px 3px 9px;
}
